<html>
    <header>
        <title>个人信息处理原则</title>
    </header>
    <body>
        {{{ content }}}
    </body>
    <style type="text/css">
        body {
            margin-left: 40px;
            margin-right: 20px;
            font-size: 42px;
        }
        h1 {
            font-size: 41px;
        }
        h1:first-of-type {
            font-size: 60px;
            text-align: center;
        }
        td, p {
            font-size: 30px;
        }
        td {
            width: 20%;
        }
        table td {
            border-bottom: solid gray;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        li {
            font-size: 30px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        a, .link {
            font-size: 30px;
            color: blue;
            white-space: normal;
            word-break: break-all;
        }
    </style>
</html>
